

<aside class="col-12 col-md-2 p-0 bg-dark flex-shrink-1">
    <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
        <div class="col flex-shrink-1 text-light text-center py-2">
            <a class="nav-link text-light" href="{{url_for('admin.index')}}"><span class="d-none d-md-inline"><h class="h3">ADMIN</h></div></span></a><
            
        <div class="collapse navbar-collapse ">
            
            <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                <li class="nav-item">
                    <a class="nav-link pl-0 text-nowrap" href="{{url_for('site.index')}}"><i class="fa fa-home fa-fw"></i> <span class="d-none d-md-inline font-weight-bold">Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0 text-nowrap" href="{{url_for('admin.users')}}"><i class="fa fa-users fa-fw"></i> <span class="d-none d-md-inline font-weight-bold">Users</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="{{url_for('admin.set_questions')}}"><i class="fa fa-book fa-fw"></i> <span class="d-none d-md-inline font-weight-bold">Set Questions</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="#"><i class="fa fa-cog fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="#"><i class="fa fa-heart codeply fa-fw"></i> <span class="d-none d-md-inline">Codeply</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="#"><i class="fa fa-star codeply fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0" href="#"><i class="fa fa-star fa-fw"></i> <span class="d-none d-md-inline">Link</span></a>
                </li>
            </ul>
        </div>
    </nav>
</aside>