{% extends "admin_base.html" %}
{% block mainbody %}
    {% include "admin_navbar.html" %}
    <main class="col bg-faded py-3 flex-grow-1">
        <h1 class="h1 px-4">Set Question</h1>
        <br>
        <div class="row px-4">   
        <form>
            <div class="form-group">
                <label class="font-weight-bold">Question:</label>
                <textarea class="form-control" style="height:100%;" rows="3" cols="100" id="question"></textarea>
              </div>
              <!--Set Option Div-->
              <div class="form-group">
                <label>Options (Comma Seperated 5 Inputs):</label>
                <textarea class="form-control" style="height:100%;" rows="2" cols="100" id="options"></textarea>
              </div>
              <!--Level Div-->
              <div class="form-group" required>
                <label class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="level" value="1" required>
                  <span class="form-check-label"> Level 1 </span>
                </label>
                <label class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="level" value="2">
                  <span class="form-check-label"> Level 2</span>
                </label>
                <label class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="level" value="3">
                    <span class="form-check-label"> Level 3</span>
                  </label>
                  
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Submit Question</button>
                </div>
            </div>
        </form>
    </div>
    </main>
{% endblock %}